<h1>Users 詳細</h1>

<%= render 'list', user: @user, book: @nbook %>

<h2>Books</h2>
<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title：</p>
  <%= link_to book.title, book_path(book.id) %>
  <p>Opinion：<%= book.body %></p>
</div>

<% end %>